PowerAutomate/Create Tasks and assignments with Schedule APIs/Microsoft.Flow/flows/942bfc19-0007-42f0-add1-a4f139a30aa9/definition.json
{"name":"cab032c7-ee59-45d0-a5b2-1a80de99b22f","id":"/providers/Microsoft.Flow/flows/cab032c7-ee59-45d0-a5b2-1a80de99b22f","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"PROJOPS DEMO FLOW - WORKING 2022-01-10","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"ae1563bb-189a-4fc0-b07d-f4580d7c6a9d","type":"User","tenantId":"f782ab25-637c-4888-b38e-79c78d14bb50"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-02-02T21:39:36.620101Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"metadata":{"operationMetadataId":"e750858a-bc3a-4a46-a18f-c47604116a13"},"type":"Request","kind":"PowerAppV2","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Create_Project":{"runAfter":{},"metadata":{"operationMetadataId":"7d716bea-9bba-418e-bb74-245e6931cddb"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction"},"parameters":{"actionName":"msdyn_CreateProjectV1","item/Project/msdyn_subject":"project name - @{utcNow()}","item/Project/msdyn_description":"project description"},"authentication":"@parameters('$authentication')"}},"Init_Team_Member":{"runAfter":{"Create_Project":["Succeeded"]},"metadata":{"operationMetadataId":"82077bd7-5285-4b90-bd33-61b6e5ae2bdb"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamMemberAction","type":"string","value":"msdyn_CreateTeamMemberV1"}]}},"Create_Team_Member":{"runAfter":{"init_linkstatus":["Succeeded"]},"metadata":{"operationMetadataId":"09ec176a-3fbe-4e3c-9349-29915c15326f"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"PerformUnboundAction"},"parameters":{"actionName":"@variables('TeamMemberAction')","item":{"TeamMember":{"@@odata.type":"Microsoft.Dynamics.CRM.msdyn_projectteam","msdyn_projectteamid":"@{guid()}","msdyn_project@odata.bind":"/msdyn_projects(@{outputs('Create_Project')?['body/ProjectId']})","msdyn_name":"ScheduleAPIDemoTM1"}}},"authentication":"@parameters('$authentication')"}},"Create_Operation_Set":{"runAfter":{"Create_Team_Member":["Succeeded"]},"metadata":{"operationMetadataId":"7aec0f7b-4db8-49e9-b269-9b946a3ab79d"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"PerformUnboundAction"},"parameters":{"actionName":"msdyn_CreateOperationSetV1","item/ProjectId":"@outputs('Create_Project')?['body/ProjectId']","item/Description":"ScheduleAPIDemoOperationSet"},"authentication":"@parameters('$authentication')"}},"Init_Number_of_tasks":{"runAfter":{"Create_Project_Buckets":["Succeeded"]},"metadata":{"operationMetadataId":"b6eec850-63a7-48fd-a3fc-d6708bde2bda"},"type":"InitializeVariable","inputs":{"variables":[{"name":"number of tasks","type":"integer","value":5}]}},"Init_ProjectTaskID1":{"runAfter":{"Init_Number_of_tasks":["Succeeded"]},"metadata":{"operationMetadataId":"652301e9-48fd-400a-8379-8ed7abd0f5f2"},"type":"InitializeVariable","inputs":{"variables":[{"name":"msdyn_projecttaskid","type":"string","value":"@{guid()}"}]}},"Execute_Operation_Set":{"runAfter":{"Update_task":["Succeeded"]},"metadata":{"operationMetadataId":"079cce5d-7d17-4be1-805b-4b5e0fa26220"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"PerformUnboundAction"},"parameters":{"actionName":"msdyn_ExecuteOperationSetV1","item/OperationSetId":"@outputs('Create_Operation_Set')?['body/OperationSetId']"},"authentication":"@parameters('$authentication')"}},"Do_until":{"actions":{"Set_Project_Task":{"runAfter":{},"metadata":{"operationMetadataId":"24895198-e9d3-4e89-ab53-cf9a6d1b54f2"},"type":"SetVariable","inputs":{"name":"msdyn_projecttaskid","value":"@{guid()}"}},"Create_Project_Task":{"runAfter":{"Set_Project_Task":["Succeeded"]},"metadata":{"operationMetadataId":"b412ce3b-61da-4a9d-af84-69ab7ab141c1"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"PerformUnboundAction"},"parameters":{"actionName":"msdyn_PssCreateV1","item/Entity":{"@@odata.type":"Microsoft.Dynamics.CRM.msdyn_projecttask","msdyn_projecttaskid":"@{variables('msdyn_projecttaskid')}","msdyn_project@odata.bind":"/msdyn_projects(@{outputs('Create_Project')?['body/ProjectId']})","msdyn_subject":"ScheduleAPIDemoTask1","msdyn_projectbucket@odata.bind":"/msdyn_projectbuckets(@{outputs('Create_Project_Buckets')?['body/msdyn_projectbucketid']})","msdyn_start":"@{addDays(utcNow(), 1)}","msdyn_scheduledstart":"@{utcNow()}","msdyn_scheduledend":"@{addDays(utcNow(), 5)}","msdyn_LinkStatus":"192350000"},"item/OperationSetId":"@outputs('Create_Operation_Set')?['body/OperationSetId']"},"authentication":"@parameters('$authentication')"}},"Create_Assignment":{"runAfter":{"Create_Project_Task":["Succeeded"]},"metadata":{"operationMetadataId":"30141a80-f763-46f6-8b62-6f7e465e4267"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"PerformUnboundAction"},"parameters":{"actionName":"msdyn_PssCreateV1","item/Entity":{"@@odata.type":"Microsoft.Dynamics.CRM.msdyn_resourceassignment","msdyn_resourceassignmentid":"@{guid()}","msdyn_name":"ScheduleAPIDemoAssign1","msdyn_taskid@odata.bind":"/msdyn_projecttasks(@{variables('msdyn_projecttaskid')})","msdyn_projectteamid@odata.bind":"/msdyn_projectteams(@{outputs('Create_Team_Member')?['body/TeamMemberId']})","msdyn_projectid@odata.bind":"/msdyn_projects(@{outputs('Create_Project')?['body/ProjectId']})"},"item/OperationSetId":"@outputs('Create_Operation_Set')?['body/OperationSetId']"},"authentication":"@parameters('$authentication')"}},"Decrement_variable":{"runAfter":{"Create_Assignment":["Succeeded"]},"metadata":{"operationMetadataId":"95225bf9-b212-451d-960f-ea66af844489"},"type":"DecrementVariable","inputs":{"name":"number of tasks","value":1}}},"runAfter":{"Init_ProjectTaskID1":["Succeeded"]},"expression":"@lessOrEquals(variables('number of tasks'), 0)","limit":{"count":60,"timeout":"PT1H"},"metadata":{"operationMetadataId":"1a02d044-a3b3-4d9e-85cb-d768febf328e"},"type":"Until"},"Create_Project_Buckets":{"runAfter":{"Create_Operation_Set":["Succeeded"]},"metadata":{"operationMetadataId":"e7158c83-8f1f-4a6d-b44b-8269f43de033"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord"},"parameters":{"entityName":"msdyn_projectbuckets","item/msdyn_name":"ScheduleAPIDemoBucket1","item/msdyn_project@odata.bind":"/msdyn_projects(@{outputs('Create_Project')?['body/ProjectId']})"},"authentication":"@parameters('$authentication')"}},"init_linkstatus":{"runAfter":{"Init_Team_Member":["Succeeded"]},"metadata":{"operationMetadataId":"d0a0cbad-3ee4-44af-af23-455f9a84d46f"},"type":"InitializeVariable","inputs":{"variables":[{"name":"linkstatus","type":"integer","value":192350000}]}},"Update_task":{"runAfter":{"Do_until":["Succeeded"]},"metadata":{"operationMetadataId":"df871daf-6e95-449f-9ad1-e24dcb457c02"},"type":"OpenApiConnection","inputs":{"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","connectionName":"shared_commondataserviceforapps","operationId":"PerformUnboundAction"},"parameters":{"actionName":"msdyn_PssUpdateV1","item/Entity":{"@@odata.type":"Microsoft.Dynamics.CRM.msdyn_projecttask","msdyn_projecttaskid":"@{variables('msdyn_projecttaskid')}","msdyn_subject":"ScheduleDemoTask1-UpdatedName"},"item/OperationSetId":"@outputs('Create_Operation_Set')?['body/OperationSetId']"},"authentication":"@parameters('$authentication')"}}},"outputs":{}},"connectionReferences":{"shared_commondataserviceforapps":{"connectionName":"shared-commondataser-be60f165-5056-470e-8e69-e48c-7662f6b9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"},"shared_commondataserviceforapps_1":{"connectionName":"shared-commondataser-be60f165-5056-470e-8e69-e48c-7662f6b9","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false,"isManaged":false}}